<html>
    <head>
        <title>Todo List</title>
          <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <link rel="stylesheet" type"text/css" href="/assets/styles.css"/>
    </head>
<body>

    <div id="todo-table">
        <form>

            <input type="text" name="item" placeholder="" required/>
            <button type="submit">Add item</button>
        </form>

        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>

    </div>

</body>

</html>